<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="健康" icon-off="ion-ios-pulse-strong" icon-on="ion-ios-pulse-strong" href="#/tab/tab1">
        <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="医疗" icon-off="ion-ios-medkit" icon-on="ion-ios-medkit" href="#/tab/tab2">
        <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="生活" icon-off="ion-coffee" icon-on="ion-coffee" href="#/tab/tab3">
        <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="农业" icon-off="ion-leaf" icon-on="ion-leaf" href="#/tab/tab4">
        <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>